* {
    margin: 0%;
    padding: 0%;
}

body{
    align-content: center;
    background-color: black;
}

.bgimage{
    background-size: cover;
    justify-content: center;
}

.head {
    color: rgba(200, 156, 46, 0.521);
    margin-top: 30px;
    display: flex;
    font-size: 30px;
    justify-content:space-around;
    font-weight:300;
    font-family: Arial;
    position: relative;
}
.welcome{
    font-family: 'Arial Narrow';
    font-size: 55px;
    font-weight: bold;
    color: black;
    margin-top: 175px;
}

button {
    height: 40px;
    width: 80px;
    background-color: black;
   color: darkgoldenrod;

}