body{
  background-image: url("./regi-imgs/registerpagebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.fullb{
 font-size: 20px;
  top: 0;
  right: 10;
  margin: 0px 90px 0px 0px;
  
    background-image: url('/resources/images/registerpageimage.png');
}
.registration{
 justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
  }
  table{
    width: 50%
  }
  h2{
    border-radius: 3px;
  }
  .name{
    background-color: skyblue;
    margin-right: 12px;
  }

  .DOB{
    background-color: burlywood;
    margin-right: 12px;
  }

  .Email{
    background-color: rgb(194, 239, 127);
    margin-right: 12px;
  }
  .MedicalCondition{
    margin-right: 12px;
    background-color: pink;
  }
  .Contacts{
    background-color: rgb(196, 152, 238);
    margin-right: 12px;
  }

  .Gender{
    background-color: rgb(130, 232, 213);
    margin-right: 12px;
  }

  .Weight{
    background-color: rgb(247, 132, 155);
    margin-right: 12px;
  }

  .Height{
    background-color: rgb(126, 141, 241);
    margin-right: 12px;
  }