

.forms{
 margin-right: 0px;
width: 50%;
}

.password{
  color: blue;
}
p1{
  color: blue;
  font-weight: bold;
  margin: 10px;
  background-color: azure;
}

h2 {
  border: 1mm;
  color: blue;
}

h3{
  color: gray;
}
.button{
  width: 200px;
  height: 30px;
  background-color: white;
  color: aliceblue;
}
.forms{
  align-self: center;
  height: auto;
  display: grid;
 
 
}
